<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <meta id="locale_price" th:content="#{price}">
    <meta id="locale_allRoomsBusied" th:content="#{all.rooms.busied}">
    <meta id="locale_orderWrongData" th:content="#{oder.wrong.data}">
    <meta id="locale_orderSucceed" th:content="#{order.succeed}">
    <meta id="hotel_room_price" th:content="${hotelRoom.price}">
    <title>Travel</title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="/resources/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/resources/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
          href="/resources/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
          href="/resources/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
          href="/resources/img/apple-touch-icon-144x144-precomposed.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/style.css" rel="stylesheet">
    <link href="/resources/css/vendors.css" rel="stylesheet">
    <script src="/resources/js/jquery-2.2.4.min.js"></script>

    <!-- YOUR CUSTOM CSS -->
    <link href="/resources/css/custom.css" rel="stylesheet">
    <style>
        .roundHotel {
            border-radius: 100px; /* Радиус скругления */
            border: 1px solid white; /* Параметры рамки */
            box-shadow: 0 0 7px #666; /* Параметры тени */
            width: 210px;
            height: 210px;
        }

        .round {
            border-radius: 100px; /* Радиус скругления */
            border: 1px solid white; /* Параметры рамки */
            box-shadow: 0 0 7px #666; /* Параметры тени */
            width: 49px;
            height: 49px;
        }

        .imageDiv {
            display: flex;
        }
    </style>
</head>

<body>

<div id="page" class="theia-exception">
    <header class="header menu_fixed">
        <div id="preloader">
            <div data-loader="circle-side"></div>
        </div>
        <div id="logo" th:if="${currentUser} ne null" style="margin-top: 4px;">
            <a href="/user/detail" style="color: #a3de12;;font-size: 20px">
                <img class="round" th:if="${currentUser.imgUrl} ne null"
                     th:src="@{/resources/{imgUrl}(imgUrl = ${currentUser.imgUrl})}">
                <img class="round" th:if="${currentUser.imgUrl} eq null"
                     src="/resources/default/user.png">
                <th:block th:text="${currentUser.name} + ' ' + ${currentUser.surname}">name surname</th:block>
            </a>
        </div>
        <ul id="top_menu">
        </ul>
        <!-- /top_menu -->
        <a href="index.html#menu" class="btn_mobile">
            <div class="hamburger hamburger--spin" id="hamburger">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </a>
        <nav id="menu" class="main-menu">
            <ul>
                <li>
                    <span><a href="/" th:text="#{home}">Home</a></span>
                </li>
                <li>
                    <span><a href="/places" th:text="#{places}">Places</a></span>
                </li>
                <li>
                    <span><a href="/hotels" th:text="#{hotels}">Places</a></span>
                </li>
                <li th:if="${currentUser} ne null">
                    <span th:title="#{booking}">
                        <a href="/user/booking">
                            <i class="icon-list"></i>
                            <span id="bookingCount" style="color: #d9e712;font-size: 12px;" th:text="${bookingCount}">booking count</span>
                        </a>
                    </span>
                </li>
                <li th:if="${currentUser} ne null">
                    <span th:title="#{wishList}">
                        <a href="/user/wish_list">
                            <i class="icon-heart"></i>
                            <span id="wishListCount" style="color: #d9e712;font-size: 12px;"
                                  th:text="${wishListCount}">wishlist count</span>
                        </a>
                    </span>
                </li>
                <li th:if="${currentUser} ne null">
                    <span th:title="#{logout}">
                        <a href="/logout"><i class="icon-login-2"></i></a></span>
                </li>
                <li th:if="${currentUser} eq null">
                    <span th:title="#{login}">
                        <a href="/login"><i class="icon-logout"></i></a>
                    </span>
                </li>
                <li th:if="${currentUser} eq null">
                    <span th:title="#{register}">
                    <a href="/register"><i class="icon-doc"></i></a>
                    </span>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero_single version_2">
            <div class="wrapper">
            </div>
        </section>
        <!--/hero_in-->

        <div class="bg_color_1">
            <nav class="secondary_nav sticky_horizontal">
                <div class="container">
                    <ul class="clearfix">
                        <li><a href="hotel-detail.html#description"
                               class="active" th:text="#{description}">Description</a></li>
                        <li><a href="hotel-detail.html#sidebar">Booking</a></li>
                    </ul>
                </div>
            </nav>
            <div class="container margin_60_35">
                <div class="row" th:object="${hotelRoom}">
                    <div class="col-lg-8">
                        <section id="description">
                            <div style="display: flex">
                                <img class="roundHotel" th:if="*{imgUrl} eq  null"
                                     src="/resources/default/hotel_room.jpg">
                                <img class="roundHotel" th:if="*{imgUrl} ne null"
                                     th:src="@{/resources/{imgUrl}(imgUrl = *{imgUrl})}">
                                <h2 style="margin-left: 40px;margin-top: 87px"
                                    th:text="*{name}">hotel room name</h2>
                            </div>
                            <br/>
                            <p th:text="*{information}">information</p>
                            <hr>
                            <h3 th:if="*{#lists.size(imageList)} > 0" th:text="#{photos}">photos</h3>
                            <hr>
                            <div id="imageDiv">
                                <th:block th:each="image : *{imageList}">
                                    <a th:href="@{/resources/{imgUrl}(imgUrl=${image.imgUrl})}">
                                        <img style="margin-left: 11px;margin-top: 13px;width: 92px;height: 73px;"
                                             th:src="@{/resources/{imgUrl}(imgUrl=${image.imgUrl})}" alt="">
                                    </a>
                                </th:block>
                            </div>
                            <!-- /rom_type -->
                            <div id="hotelRoom" style="margin-left: 33px;margin-top: 19px;">
                                <ul class="hotel_facilities">
                                    <li>
                                                    <span style="color: #1da1f2;font-size: 13px;"
                                                          th:text="#{hotel.number.rooms.count}">rooms count</span>
                                        <span th:text="':  ' + *{hotelRoomAttribute.roomCount}">busied rooms count</span>
                                    </li>
                                    <li th:if="*{busiedCount} eq *{count}">
                                                    <span th:text="#{all.busied}"
                                                          style="color: #1da1f2;font-size: 13px;">all numbers have already busied</span>
                                    </li>
                                    <li th:id="'all-rooms-busied-'+*{id} " style="display: none"
                                        th:unless="*{busiedCount} eq *{count}">
                                                    <span th:text="#{all.busied}"
                                                          style="color: #1da1f2;font-size: 13px;">all numbers have already busied</span>
                                    </li>
                                    <li th:id="'busied-rooms-count-blog-' + *{id}" th:if="*{busiedCount} < *{count}">
                                                    <span style="color: #1da1f2;font-size: 13px;"
                                                          th:text="#{busied.rooms.count}">busied numbers count</span>
                                        <span th:id="'busied-rooms-count-text-' + *{id}"
                                              th:text="':  ' + *{busiedCount}">busied numbers count</span>
                                    </li>
                                    <li th:id="'busied-rooms-count-blog-' + *{id}" style="display: none"
                                        th:unless="*{busiedCount} < *{count}">
                                                    <span style="color: #1da1f2;font-size: 13px;"
                                                          th:text="#{busied.rooms.count}">busied numbers count</span>
                                        <span th:id="'busied-rooms-count-text-' + *{id}" th:text="':  0'">busied numbers count</span>
                                    </li>
                                    <li>
                                                    <span style="color: #1da1f2;font-size: 13px;"
                                                          th:text="#{all.rooms.count}">all rooms count</span>
                                        <span th:id="'all-rooms-count-' + *{id}"
                                              th:text="':  ' + *{count}">all rooms count</span>
                                    </li>
                                    <li th:if="*{busiedCount} ne *{count}">
                                                    <span style="color: #1da1f2;font-size: 13px;"
                                                          th:text="#{free.rooms.count}">free rooms count</span>
                                        <span th:id="'free-rooms-count-' + *{id}"
                                              th:text="':  ' + (*{count} - *{busiedCount})">free rooms count</span>
                                    </li>
                                    <li>
                                        <span style="color: #1da1f2;font-size: 13px;" th:text="#{price}">price</span>
                                        <span th:text="':  $ ' + *{price}">price</span>
                                    </li>
                                    <li>
                                        <span style="color: #1da1f2;font-size: 13px;">wifi: </span>
                                        <span th:if="*{#bools.isTrue(hotelRoomAttribute.wifi)}"><i class="fa fa-check" aria-hidden="true"></i></span>
                                        <span th:if="*{#bools.isFalse(hotelRoomAttribute.wifi)}"><i class="fa fa-remove" aria-hidden="true"></i></span>
                                    </li>
                                    <li>
                                        <span style="color: #1da1f2;font-size: 13px;" th:text="#{airConditioner} + ':  '">air conditioner</span>
                                        <span th:if="*{#bools.isTrue(hotelRoomAttribute.airConditioner)}" ><i class="fa fa-check" aria-hidden="true"></i></span>
                                        <span th:if="*{#bools.isFalse(hotelRoomAttribute.airConditioner)}" ><i class="fa fa-remove" aria-hidden="true"></i></span>
                                    </li>
                                    <li>
                                        <span style="color: #1da1f2;font-size: 13px;">tv: </span>
                                        <span th:if="*{#bools.isTrue(hotelRoomAttribute.tv)}" ><i class="fa fa-check" aria-hidden="true"></i></span>
                                        <span th:if="*{#bools.isFalse(hotelRoomAttribute.tv)}" ><i class="fa fa-remove" aria-hidden="true"></i></span>
                                    </li>
                                    <li>
                                        <span style="color: #1da1f2;font-size: 13px;" th:text="#{warm.water} + ':  '">warm water</span>
                                        <span th:if="*{#bools.isTrue(hotelRoomAttribute.warmWater)}" ><i class="fa fa-check" aria-hidden="true"></i></span>
                                        <span th:if="*{#bools.isFalse(hotelRoomAttribute.warmWater)}" ><i class="fa fa-remove" aria-hidden="true"></i></span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Map -->
                        </section>
                    </div>
                    <!-- /col -->

                    <aside class="col-lg-4" id="sidebar">
                        <div class="box_detail booking">
                            <div class="price">
                                <span th:text="#{order}">Order</span>
                                <div class="score">
                                    <span id="orderPrice" style="color: #32a067" th:text="#{price} + ' 0 $'">
                                    </span>
                                </div>
                            </div>
                            <div class="alert alert-info in alert-success" id="order-message" style="display: none">
                                <a style="cursor: pointer" class="close" id="close-order-message">×</a>
                                <span id="message-blog">In that all count of the rooms have already busied</span>
                            </div>

                            <form id="orderForm">
                                <input type="hidden" id="hotelId" th:value="*{hotel.id}">
                                <input type="hidden" id="hotelRoomId" th:value="*{id}">
                                <input type="hidden" id="orderPriceInput" value="0">
                                <div class="form-group">
                                    <label for="whenDate" th:text="#{since.date}">date</label>
                                    <input class="form-control" type="datetime-local"
                                           id="whenDate" name="whenDate">
                                </div>

                                <div class="form-group">
                                    <label for="adultCount" th:text="#{adults}">days</label>
                                    <input class="form-control" type="number" id="adultCount" value="0" step="0">
                                </div>

                                <div class="form-group">
                                    <label for="childrenCount" th:text="#{children}">days</label>
                                    <input class="form-control" type="number" id="childrenCount" value="0" step="0">
                                </div>
                                <div class="form-group">
                                    <label for="daysCount" th:text="#{days.count}">days count</label>
                                    <input class="form-control" type="number" id="daysCount" value="0" step="0">
                                </div>

                                <th:block th:if="${currentUser} ne null">
                                    <script>
                                        var localePrice = $("#locale_price").attr("content");
                                        var hotelRoomPrice = $("#hotel_room_price").attr("content");

                                        $("#daysCount").on("change", function () {
                                            var actualDay = $("#daysCount").val();
                                            if (parseInt(actualDay) == 0) {
                                                setOrderPrice(0);
                                            } else {
                                                setOrderPrice(parseInt(hotelRoomPrice) * parseInt(actualDay))
                                            }
                                        });

                                        function setOrderPrice(price) {
                                            $("#orderPrice").text(localePrice + " " + price + " $")
                                        }

                                    </script>
                                </th:block>
                                <button th:if="${currentUser} ne null" type="submit"
                                        class=" add_top_30 btn_1 full-width purchase" th:text="#{order.to}">
                                    Order to
                                </button>
                                <a th:if="${currentUser} eq null" href="/login"
                                   class=" add_top_30 btn_1 full-width purchase" th:text="#{order.to}">
                                    Order to
                                </a>
                            </form>
                        </div>
                        <ul class="share-buttons">
                            <li><a class="fb-share" href="hotel-detail.html#0"><i class="social_facebook"></i> Share</a>
                            </li>
                            <li><a class="twitter-share" href="hotel-detail.html#0"><i class="social_twitter"></i> Tweet</a>
                            </li>
                            <li><a class="gplus-share" href="hotel-detail.html#0"><i class="social_googleplus"></i>
                                Share</a></li>
                        </ul>
                    </aside>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bg_color_1 -->
    </main>
    <!--/main-->

    <footer>
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-5 col-md-12 p-r-5">
                    <p><img src="img/logo.png" width="150" height="36" data-retina="true" alt=""></p>
                    <p>Mea nibh meis philosophia eu. Duis legimus efficiantur ea sea. Id placerat tacimates definitionem
                        sea, prima quidam vim no. Duo nobis persecuti cu. Nihil facilisi indoctum an vix, ut delectus
                        expetendis vis.</p>
                    <div class="follow_us">
                        <ul>
                            <li>Follow us</li>
                            <li><a href="hotel-detail.html#0"><i class="ti-facebook"></i></a></li>
                            <li><a href="hotel-detail.html#0"><i class="ti-twitter-alt"></i></a></li>
                            <li><a href="hotel-detail.html#0"><i class="ti-google"></i></a></li>
                            <li><a href="hotel-detail.html#0"><i class="ti-pinterest"></i></a></li>
                            <li><a href="hotel-detail.html#0"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 ml-lg-auto">
                    <h5>Useful links</h5>
                    <ul class="links">
                        <li><a href="about.html">About</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="blog.html">News &amp; Events</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5>Contact with Us</h5>
                    <ul class="contacts">
                        <li><a href="tel://61280932400"><i class="ti-mobile"></i> + 61 23 8093 3400</a></li>
                        <li><a href="mailto:info@Panagea.com"><i class="ti-email"></i> info@Panagea.com</a></li>
                    </ul>
                    <div id="newsletter">
                        <h6>Newsletter</h6>
                        <div id="message-newsletter"></div>
                        <form method="post" action="http://www.ansonika.com/panagea/assets/newsletter.php"
                              name="newsletter_form" id="newsletter_form">
                            <div class="form-group">
                                <input type="email" name="email_newsletter" id="email_newsletter" class="form-control"
                                       placeholder="Your email">
                                <input type="submit" value="Submit" id="submit-newsletter">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--/row-->
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <ul id="footer-selector">
                        <li>
                            <div class="styled-select" id="lang-selector">
                                <select>
                                    <option value="English" selected>English</option>
                                    <option value="French">French</option>
                                    <option value="Spanish">Spanish</option>
                                    <option value="Russian">Russian</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="styled-select" id="currency-selector">
                                <select>
                                    <option value="US Dollars" selected>US Dollars</option>
                                    <option value="Euro">Euro</option>
                                </select>
                            </div>
                        </li>
                        <li><img src="img/cards_all.svg" alt=""></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul id="additional_links">
                        <li><a href="hotel-detail.html#0">Terms and conditions</a></li>
                        <li><a href="hotel-detail.html#0">Privacy</a></li>
                        <li><span>© 2018 Panagea</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/footer-->
</div>
<!-- page -->

<div id="toTop"></div><!-- Back to top button -->

<!-- COMMON SCRIPTS -->
<script src="/resources/js/common_scripts.js"></script>
<script src="/resources/js/main.js"></script>
<script src="/resources/assets/validate.js"></script>

<!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB6Vck_vRXDPR8ILH8ZLOeGSEz_n4YR0mU"></script>
<script src="/resources/js/map_single_hotel.js"></script>
<script src="/resources/js/infobox.js"></script>
<script th:if="${currentUser} ne null" src="/resources/js/hotel_review.js"></script>

<!-- DATEPICKER  -->
<script>
    $(function () {
        $('input[name="dates"]').daterangepicker({
            autoUpdateInput: false,
            opens: 'left',
            locale: {
                cancelLabel: 'Clear'
            }
        });
        $('input[name="dates"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM-DD-YY') + ' > ' + picker.endDate.format('MM-DD-YY'));
        });
        $('input[name="dates"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
    });
</script>

<!-- INPUT QUANTITY  -->
<script src="/resources/js/input_qty.js"></script>
<script src="/resources/js/order_in_hotel_room_detail.js"></script>

<!-- INSTAGRAM FEED  -->
<script>
    $(window).on('load', function () {
        "use strict";
        $.instagramFeed({
            'username': 'hotelwailea',
            'container': "#instagram-feed-hotel",
            'display_profile': false,
            'display_biography': false,
            'display_gallery': true,
            'get_raw_json': false,
            'callback': null,
            'styling': true,
            'items': 12,
            'items_per_row': 6,
            'margin': 1
        });
    });
</script>

<!-- COLOR SWITCHER  -->
<script src="/resources/js/switcher.js"></script>
<div id="style-switcher">
    <h6>
        <th:block th:text="#{language} + #{plural}"></th:block>
        <a href="login.html#"><i class="ti-settings"></i></a></h6>
    <div>
        <ul class="colors" id="color1">
            <li th:unless="${#strings.equals(#locale.language,'arm')}"
                style="cursor: pointer" onclick="window.location = document.URL.split('?')[0] + '?lang=arm'">
                <img src="/resources/icons/armenia.png">
            </li>
            <li th:if="${#strings.equals(#locale.language,'arm')}"
                style="cursor: pointer">
                <img src="/resources/icons/armenia.png">
            </li>
            <li th:unless="${#strings.equals(#locale.language,'en')}"
                style="cursor: pointer" onclick="window.location = document.URL.split('?')[0] + '?lang=en'">
                <img src="/resources/icons/england.png">
            </li>
            <li th:if="${#strings.equals(#locale.language,'en')}"
                style="cursor: pointer">
                <img src="/resources/icons/england.png">
            </li>
            <li th:unless="${#strings.equals(#locale.language,'ru')}"
                style="cursor: pointer" onclick="window.location = document.URL.split('?')[0] + '?lang=ru'">
                <img src="/resources/icons/russia.png">
            </li>
            <li th:if="${#strings.equals(#locale.language,'ru')}" style="cursor: pointer">
                <img src="/resources/icons/russia.png">
            </li>
        </ul>
    </div>
</div>

</body>
</html>