<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <meta id="email" th:content="${restorePasswordForm.email}">
    <meta id="token" th:content="${restorePasswordForm.token}">
    <title>Travel</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/resources/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/resources/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
          href="/resources/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
          href="/resources/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
          href="/resources/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/style.css" rel="stylesheet">
    <link href="/resources/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/resources/css/custom.css" rel="stylesheet">
    <script src="/resources/js/jquery-2.2.4.min.js"></script>
    <style>
        .error {
            color: red;
            font-size: 12px;
        }
    </style>
</head>

<body id="login_bg">

<nav id="menu" class="fake_menu"></nav>

<div id="preloader">
    <div data-loader="circle-side"></div>
</div>
<!-- End Preload -->

<div id="login">
    <aside>
        <figure>
            <a href="/" style="color: #006db6;font-size: 23px;">
                <img src="/resources/img/logo.png" height="70" data-retina="true" alt=""
                                      class="logo_sticky">Travel
            </a>
        </figure>
        <div class="alert alert-info in alert-success">
            <th:block th:text="#{restore.password}">resotre password</th:block>
        </div>
        <script>
            $(document).ready(function () {
                $("#restorePasswordForm").on("submit",function (event) {
                    var password = $("#password").val();
                    var rePassword = $("#rePassword").val();
                    if(password.length == 0){
                        event.preventDefault();
                        $("#password").attr("style","border: 1px solid red")
                    }else {
                        $("#password").attr("style","border: 1px solid #d2d8dd;")
                    }

                    if(rePassword.length == 0){
                        event.preventDefault();
                        $("#rePassword").attr("style","border: 1px solid red")
                    }else {
                        $("#rePassword").attr("style","border: 1px solid #d2d8dd;")
                    }

                })
            })
        </script>
        <form action="/forgot_password/restore_password" method="post"
              id="restorePasswordForm" th:object="${restorePasswordForm}">
            <input type="hidden" th:field="*{email}">
            <input type="hidden" th:field="*{token}">
            <div th:if="${#fields.hasErrors('password')}" >
                <span class="error"
                      th:text="#{password.error}">password error</span>
            </div>
            <div th:if="${passwordNotMatches} ne null">
                <span  class="error"
                      th:text="#{password.do.not.match}">password do not match</span>
            </div>
            <div class="form-group">
                <label th:text="#{password}">Password</label>
                <input type="password" class="form-control" th:field="*{password}" id="password">
                <i class="icon_mail_alt"></i>
            </div>

            <div th:if="${#fields.hasErrors('rePassword')}" >
                <span class="error"
                      th:text="#{password.error}">password error</span>
            </div>
            <div th:if="${passwordNotMatches} ne null">
                <span  class="error"
                       th:text="#{password.do.not.match}">password do not match</span>
            </div>
            <div class="form-group">
                <label th:text="#{repeat.password}">Repeat password</label>
                <input type="password" class="form-control" th:field="*{rePassword}" id="rePassword">
                <i class="icon_mail_alt"></i>
            </div>
            <div class="clearfix add_bottom_30">
            </div>
            <button type="submit" class="btn_1 rounded full-width" th:text="#{send}">Send</button>
        </form>
        <div class="copy">© 2018 Travel</div>
    </aside>
</div>
<!-- /login -->

<!-- COMMON SCRIPTS -->
<script src="/resources/js/common_scripts.js"></script>
<script src="/resources/js/main.js"></script>
<script src="/resources/assets/validate.js"></script>

<!-- COLOR SWITCHER  -->
<script src="/resources/js/switcher.js"></script>
<div id="style-switcher">
    <h6><th:block th:text="#{language} + #{plural}"></th:block> <a href="login.html#"><i class="ti-settings"></i></a></h6>
    <div>
        <ul class="colors" id="color1">
            <li th:unless="${#strings.equals(#locale.language,'arm')}"
                style="cursor: pointer" onclick="window.location ='/forgot_password/restore_password/' + $('#email').attr('content') + '/' + $('#token').attr('content') + '?lang=arm'">
                <img src="/resources/icons/armenia.png">
            </li>
            <li th:if="${#strings.equals(#locale.language,'arm')}"
                style="cursor: pointer">
                <img src="/resources/icons/armenia.png">
            </li>
            <li th:unless="${#strings.equals(#locale.language,'en')}"
                style="cursor: pointer" onclick="window.location = '/forgot_password/restore_password/' + $('#email').attr('content') + '/' + $('#token').attr('content') +  '?lang=en'">
                <img src="/resources/icons/england.png">
            </li>
            <li th:if="${#strings.equals(#locale.language,'en')}"
                style="cursor: pointer" >
                <img src="/resources/icons/england.png">
            </li>
            <li th:unless="${#strings.equals(#locale.language,'ru')}"
                    style="cursor: pointer" onclick="window.location = '/forgot_password/restore_password/' + $('#email').attr('content') + '/' + $('#token').attr('content') + '?lang=ru'">
                <img src="/resources/icons/russia.png">
            </li>
            <li th:if="${#strings.equals(#locale.language,'ru')}" style="cursor: pointer" >
                <img src="/resources/icons/russia.png">
            </li>
        </ul>
    </div>
</div>

</body>
</html>